@{
    ViewData["Title"] = "Home Page";
}

<div class="container" style="border: 2px solid a48004; padding: 20px; border-radius: 10px; max-width: 100%; padding: 20px; background-color: white;">
    <div>
        <div class="row mt-5">
            <div class="col-md-6">
                <h1 class="display-4">Bienvenido a La Parisina</h1>
                <p>Aquí puedes encontrar información sobre nuestra gastronomia francesa.</p>
                <p><a href="" class="btn btn-personalizado">Conócenos</a></p>
                <div class="col-md-8 mb-3">
                    <img src="~/img/imagen 5.jpg" alt="Imagen 5" class="rounded-3" width="500" height="350">
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <img src="~/img/imagen 1.jpg" alt="Imagen 1" class="img-fluid rounded-start" width="">
                    </div>
                    <div class="col-md-6 mb-3">
                        <img src="~/img/imagen 2.jpg" alt="Imagen 2" class="img-fluid rounded-end" width="">
                    </div>
                    <div class="col-md-6 mb-3">
                        <img src="~/img/imagen 3.jpeg" alt="Imagen 3" class="img-fluid rounded-start" width="">
                    </div>
                    <div class="col-md-6 mb-3">
                        <img src="~/img/imagen 4.jpg" alt="Imagen 4" class="img-fluid rounded-end" height="250px">
                    </div>
                </div>
                <hr />
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h2 class="display-4">Quienes Somos</h2>
                <p>Bienvenido a "La Parisina", un lugar donde puedes explorar una amplia colección de sabores en diferentes platos.</p>
                <p>
                    Somos apasionados por el buen gusto y nos llena de felicidad
                    entregar productos frescos que cambiarán la rutina de tus días.
                </p>
                <p>
                    Enamorados del arte culinario y con el deseo de compartir
                    la pasión por la gastronomía, nace La Parisina en el año 2014.
                </p>
            </div>
            <div class="col-md-6">
                <hr />
                <img src="~/img/imagen 6.jpg" alt="Imagen 6" class="rounded-3" width="525" height="320">
            </div>
        </div>
    </div>
</div>

